@page "/TestLocalStorageDateRange"

@using Page = BlzSrvFlxSrl.Links.TestLocalStorageDateRange

<PageTitle>@Page.Title</PageTitle>
<div class="pb-2 mt-4 mb-2 border-bottom">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>

@switch (_status)
{
	case Status.Loading:
		<p class="text-info"><em>Loading.. .</em></p>
		break;

	case Status.Error:
		<h3 class="text-danger">@_errorMessage</h3>
		break;

	case Status.Loaded:
		<ul>
			<li>Do Something</li>
		</ul>
		break;
}

