@using System.Threading.Tasks

<button @onclick="@OnButtonClicked" title="@Id"
				type="button" class="@ParmCrud.ButtonColor btn-sm">
	<i class="@ParmCrud!.Icon"></i>
	<br><small>@ParmCrud.Text</small>
</button>