@inherits LayoutComponentBase

<PageTitle>Blazor Server Fluxor Serilog</PageTitle>

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="/SpecialEvents" target="_blank">SpecialEvents</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
