@using BlzSrvFlxSrl.Links
@*
<div class="d-print-none">
	<img src=@Blobs.UrlRoot("footer.jpg") class="img-fluid" />
</div>
<div class="d-none d-print-block">
	<img src=@Blobs.UrlRoot("bannerline.png") class="img-fluid" />
</div>
*@
<div class="pb-1 mt-4 mb-1 border-top">
	<p class="text-muted text-center">
		<small>@DateTime.Now.Year @Settings.Constants.Site.BaseUrl | &copy; @Home.Title . All rights reserved.</small>
	</p>
</div>

